$width990: 1140px;
$width720: 720px;
$width570: 570px;
$width1200: 1200px;
@mixin mobile990 {
  @media (max-width: #{$width990}) {
    @content;
  }
}

@mixin mobile720 {
  @media (max-width: #{$width720}) {
    @content;
  }
}

@mixin mobile570 {
  @media (max-width: #{$width570}) {
    @content;
  }
}

@mixin mobile1200 {
  @media (max-width: #{$width1200}) {
    @content;
  }
}
