.cta {
  height: 200px;
  width: 100%;

  display: flex;
  justify-content: center;

  .cta-wrapper {
    background-color: rgb(0, 0, 0);
    width: 90%;
    height: 100%;
    display: flex;

    .side-color {
      width: 2%;
      height: 100%;
      background-color: #57bf05;
    }
    .cta-banner {
      background-color: black;
      width: 98%;
      margin-left: 70px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      .cta-banner-smaller-text {
        h4 {
          color: #6b6b6b;
          /* padding-bottom: 10px; */
        }
      }
      .cta-banner-heading {
        h2 {
          color: white;
          /*  margin-top: 20px; */
          font-size: 35px;
        }
      }
      .cta-btn {
        button {
          /* margin-top: 15px; */
          width: 120px;
          height: 40px;
          border-radius: 15px;
          font-size: 20px;
        }
      }
    }
  }
}
