.editor-choice {
  height: auto;
  width: 100%;

  display: flex;
  flex-direction: column;
  position: relative;
  .editor-heading {
    position: relative;
    left: 9.6rem;
    top: 50px;
    height: 100px;

    width: 50%;
    @include mobile1800 {
      left: 8rem;
    }
    @include mobile990 {
      left: 50px;
    }
    @include mobile720 {
      left: 35px;
    }
    h2 {
      font-size: 2.5rem;

      span {
        color: #c97803;
        font-weight: bolder;
        font-size: 2.5rem;
      }
    }
  }
  .editor-items-container {
    height: 100%;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: center;
    /* @include mobile1800 {
      background-color: red;
    } */
    @include mobile990 {
      /* height: 80%; */
    }
    .editor-items {
      /* height: auto; */
      width: 90%;
      flex-wrap: wrap;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      /* background-color: rgb(50, 78, 205); */
      /*  @include mobile1800 {
        background-color: red;
      } */
      @include mobile990 {
        width: 50%;
      }
      @include mobile1200 {
        width: 80%;
      }
      .editor-item {
        /* max-height: 100%; */
        max-height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 22%;
        min-width: 350px;
        position: relative;
        flex-wrap: wrap;
        @include mobile1800 {
          /* border: 5px solid red; */
          min-width: 40%;
          margin-bottom: 5px;
        }
        @include mobile1200 {
          /* border: 5px solid rgb(38, 0, 255); */
          min-width: 50%;
          margin-bottom: 5px;
        }
        @include mobile990 {
          /* border: 5px solid rgb(81, 255, 0); */
          min-width: 45%;
          /*  max-height: 100%; */
          margin-bottom: 5px;
        }
        @include mobile720 {
          max-width: 100%;
          /* background-color: burlywood; */
        }
        .editor-item-image {
          overflow: hidden;

          height: 65%;
          width: 100%;
          @include mobile990 {
            /*  background-color: burlywood; */
            height: 70%;
            width: 100%;
          }
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            cursor: pointer;
            @include mobile990 {
              /*  background-color: burlywood; */
              max-height: 100%;
              max-width: 100%;
            }
          }
        }
        .editor-item-heading {
          /* min-height: auto; */
          @include mobile1200 {
            /* border: 5px solid rgb(38, 0, 255); */
            /* min-width: 50%;
            margin-bottom: 5px; */
          }
          @include mobile1800 {
            /* background-color: blue; */
            /* height: auto; */
            /* height: 200px; */
          }
          @include mobile990 {
            /* height: 20%; */
            position: relative;
            /*  top: 50px; */
          }
          position: relative;
          a {
            text-decoration: none;
            color: #3e74ee;
            &:visited {
              color: #3e74ee;
            }
            h3 {
              cursor: pointer;
              font-size: 2.5rem;
              /*  padding-top: 10px; */
              /*  background-color: chartreuse; */
              @include mobile570 {
                font-size: 2rem;
                /* border: 3px solid orange; */
                position: relative;
                top: 5px;
              }
              @include mobile720 {
                font-size: 2rem;
                padding-top: 0;
                /* padding-bottom: 20px; */
                position: relative;
                /* bottom: 20px; */
                /* top: 0px; */
              }
              @include mobile990 {
                /* background-color: red; */
                /*  border: 3px solid rgb(53, 37, 7); */
                padding-top: 0;
                /* padding-bottom: 20px; */
                position: relative;
                top: 0px;
                /* bottom: 20px; */
                /*  background-color: red; */
              }
              @include mobile1200 {
                font-size: 2.5rem;
                padding-top: 0;
                /* padding-bottom: 20px; */
                position: relative;
                bottom: 20px;
                /*  background-color: red; */
              }
            }
          }
        }
        .author-date {
          position: relative;
          /* padding-bottom: 50px; */

          @include mobile720 {
            /* background-color: rgb(0, 89, 255); */
            /* position: relative;
            bottom: 5px; */
          }
          @include mobile990 {
            /* background-color: orange;
            min-height: 100%; */
            display: none;
          }
          @include mobile1200 {
          }
          @include mobile1800 {
            /* background-color: blue; */
            padding-bottom: 0;
            bottom: 10px;
          }
          @include mobile570 {
            /* background-color: rgb(0, 89, 255); */
            position: relative;
            bottom: 5px;
          }
          span {
            bottom: 10px;
            font-size: 2rem;
            cursor: pointer;
            position: relative;
            @include mobile1200 {
              font-size: 1.8rem;
              position: relative;
              bottom: 0px;
              /*  background-color: rgb(111, 151, 65); */
            }
            @include mobile990 {
              /* background-color: cornflowerblue; */
              font-size: 1.2rem;
              position: relative;
              top: 5px;
            }

            @include mobile720 {
              position: relative;
              /*  bottom: 50px; */
              /* background-color: crimson; */
              font-size: 2rem;
            }
            @include mobile570 {
              /*  background-color: chocolate; */
              font-size: 1rem;
              position: relative;
              top: 0;
            }
          }
        }
      }
    }
  }
}
