.highlight {
  width: 100vw;
  height: 400px;
  overflow: hidden;
  display: flex;

  .highlight-left {
    height: 100%;
    width: 50vw;
    border: 1px solid black;
    background-color: #c6c6c6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .highlight-left-img {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .highlight-left-text {
      position: relative;
      width: 50%;
      height: 40%;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        cursor: pointer;
        color: #c97803;
        font-size: 13px;
        margin-top: 20px;
      }
      div {
        overflow: hidden;
        h2 {
          font-size: 30px;
          font-weight: 400;
          /* margin: 10px 0; */
        }
      }
      div {
        margin-bottom: 20px;
        span {
          position: relative;
          bottom: 0;
          left: 0;
          font-size: 13px;
        }
      }
    }
  }
  .highlight-middle {
    height: 100%;
    width: 25vw;
    min-width: 20vw;
    background-color: #c6c6c6;
    border: 1px solid black;
    .highlight-middle-img {
      height: 60%;
      display: flex;
      /*  background-color: yellow; */
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .highlight-middle-text {
      /*  background-color: hotpink; */
      width: 100%;
      height: 40%;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        color: #c97803;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
      }
      div {
        h2 {
          font-size: 30px;
          font-weight: 400;
          /* margin: 10px 0; */
          overflow: hidden;
        }
      }
      div {
        margin-bottom: 20px;
        span {
          font-size: 13px;
        }
      }
    }
  }
  .highlight-right {
    height: 100%;
    width: 25vw;
    min-width: 20vw;
    border: 1px solid black;
    background-color: #c6c6c6;
    .highlight-right-img {
      height: 60%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
    .highlight-right-text {
      /*  background-color: hotpink; */
      width: 100%;
      height: 40%;
      margin-left: 20px;
      margin-right: 20px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      h4 {
        color: #c97803;
        font-size: 13px;
        margin-top: 20px;
        cursor: pointer;
      }
      div {
        h2 {
          font-size: 30px;
          font-weight: 400;
          /* margin: 10px 0; */
          height: auto;
        }
      }

      div {
        margin-bottom: 20px;
        span {
          font-size: 13px;
        }
      }
    }
  }
}
