.menu {
  height: 45px;
  width: 100%;
  border-top: 1px solid #898989;
  border-bottom: 1px solid #898989;
  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3f3f3f;
    height: 100%;
    list-style: none;
    @include mobile570 {
      min-width: 300px;
    }

    li {
      margin: 0 30px;
      color: #a2a2a2;
      letter-spacing: 1px;
      cursor: pointer;
      /* width: 100%; */
      /* background-color: orange; */
      @include mobile570 {
        font-size: 1.2rem;
        margin: 0 10px;
        /* min-width: 100%;
        max-width: 100%; */
        a {
          /*  color: orange; */
          font-size: 3rem;
        }
      }
    }
  }
}
.link {
  color: white;
  font-size: 2rem;
  text-decoration: none;
  &:hover {
    color: #c97803;
  }
}
