.social {
  /* background-color: red; */
  height: 30%;
  width: 85%;
  position: relative;
  .social-heading {
    .social-heading-wrapper {
      background-color: black;
      height: 45px;
      display: flex;
      align-items: center;
      h2 {
        color: white;
        padding-left: 40px;
        span {
          color: #69c008;
        }
      }
    }
  }
  .social-buttons {
    width: 100%;
    height: calc(100% - 135px);
    /* border: 1px solid yellowgreen; */
    display: flex;
    position: relative;
    top: 15px;
    .social-buttons-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      /*  border: 2px solid black; */
      .facebook-btn {
        width: 95%;
        height: 45px;
        background-color: #737ee3;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
        border: none;
      }
      .pinterest-btn {
        width: 95%;
        height: 45px;
        background-color: #c61212;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
        border: none;
      }
      .youtube-btn {
        width: 95%;
        height: 45px;
        background-color: #ff0000;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
        border: none;
      }
    }
    .social-buttons-right {
      /*  border: 2px solid violet; */
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-end;
      .twitter-btn {
        border: none;
        width: 95%;
        height: 45px;
        background-color: #13d5ef;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
      }
      .instagram-btn {
        border: none;
        width: 95%;
        height: 45px;
        background-color: #c6127e;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
      }
      .vimeo-btn {
        border: none;
        width: 95%;
        height: 45px;
        background-color: #47f2d3;
        color: white;
        text-align: left;
        padding-left: 25px;
        font-size: 18px;
      }
    }
  }
}
